In [3]:
import sqlite3

# Connect to the SQLite database file (or create it if it doesn't exist)
conn = sqlite3.connect('example.db')

# Create a table to store users if it doesn't exist
conn.execute('''CREATE TABLE IF NOT EXISTS users (
                id INTEGER PRIMARY KEY,
                name TEXT,
                age INTEGER
            )''')

def create_user(name, age):
    """Insert a new user into the database."""
    conn.execute('INSERT INTO users (name, age) VALUES (?, ?)', (name, age))
    conn.commit()
    print('User created successfully')

def read_users():
    """Read all users from the database."""
    cursor = conn.execute('SELECT id, name, age FROM users')
    for row in cursor:
        print(f'ID: {row[0]}, Name: {row[1]}, Age: {row[2]}')

def update_user(id, name, age):
    """Update user information in the database."""
    conn.execute('UPDATE users SET name=?, age=? WHERE id=?', (name, age, id))
    conn.commit()
    print('User updated successfully')

def delete_user(id):
    """Delete a user from the database."""
    conn.execute('DELETE FROM users WHERE id=?', (id,))
    conn.commit()
    print('User deleted successfully')

# Create some sample users
create_user('Ahmed', 19)
create_user('YP SIR', 30)

# Read all users from the database
print("Initial users:")
read_users()

# Update user information
update_user(1, 'Mohd Ahmed', 20)

# Delete a user
delete_user(2)

# Read all users again
print("\nUsers after update and delete:")
read_users()

# Close the database connection
conn.close()

User created successfully
User created successfully
Initial users:
ID: 1, Name: Mohd Ahmed, Age: 20
ID: 3, Name: YP SIR, Age: 30
ID: 4, Name: Ahmed, Age: 19
ID: 5, Name: YP SIR, Age: 30
User updated successfully
User deleted successfully

Users after update and delete:
ID: 1, Name: Mohd Ahmed, Age: 20
ID: 3, Name: YP SIR, Age: 30
ID: 4, Name: Ahmed, Age: 19
ID: 5, Name: YP SIR, Age: 30